<div>
  <label for="">Word</label>
  {{input value=word}}
</div>
<div>
  <label for="">Correct</label>
  {{input value=correct}}
</div>
<div>
  <label for="">Card</label>
  {{input value=card}}
</div>

<button type="submit" {{action save this}}>Save</button>
<button type="submit" {{action cancel this}}>Cancel</button>
