<h3>{{id}}</h3>

<p>{{link-to 'Edit' 'choices.edit' this}} <button {{action destroyRecord this}}>Destroy</button></p>

<ul>
  <li>Word: {{word}}</li>
  <li>Correct: {{correct}}</li>
  <li>Card: {{card}}</li>
</ul>
